.arif1{
    height: 500px;
    border: 2px solid blue;
    background-color: blueviolet;
}
.arif2{
    height: 500px;
    border: 2px solid blue;
    background-color: rgb(43, 226, 119);
    text-decoration-color: black;
}
.arif3{
    height: 500px;
    border: 2px solid blue;
    background-color: rgb(231, 159, 25);
    text-decoration-color: black;
}
.arif4{
    height: 500px;
    border: 2px solid blue;
    background-color: rgb(223, 59, 108);
}